.navbar-component {
    width: 100%;
}

.navar-component__menu {
    display: flex;
    gap: 20px;
}

.option-menu {
    list-style: none;
    cursor: pointer;
    color: var(--text-black);
    text-decoration: none;
}

.option-menu:hover {
    color: var(--blue-active);
}

.button-back {
    border: none;
    color: var(--blue-active);
    background: transparent;
    cursor: pointer;
}

.button-back__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-back__info p {
    margin-bottom: 0px;
}

.activebutton {
    color: var(--blue-active);
    border-bottom: 2px solid var(--blue-active);
}