<section class="single-customer">
    <div class="single-customer__title">
        <h1>Información del cliente</h1>
        <p>Tu cliente ha sido autenticado exitosamente, si los datos son correctos, da click en continuar</p>
    </div>
    <div class="single-customer__card">
        <p class="card__title">Cliente</p>
        <p class="card__client">Eduardo Mártinez Hernández</p>
        <p class="card_account">Cuenta: 6307015</p>
        <button class="card__button">Continuar</button>
    </div>
    <div class="single-customer__cancel">
        <a href="/" (click)="cancel()">Cancelar</a>
    </div>
</section>