/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    --background: #fbf8f7;
    --blue-active: #2859cc;
    --blue-inactive: #a1bbf7;
    --text-black: #3f3e3e;
    --text-gray: #333333;
    --gray-inactive: #c4bfbf;
}

body {
    margin: 0;
    font-family: Roboto,
        "Helvetica Neue", sans-serif;
    background: var(--background);
}